{% extends 'extras/template.html' %}
{% load static %}


	 {% block body_block %} 

	 <div class="row">

       	<div class="col-md-4">

      
	 	<div class="left-header"><h1>Welcome, {{ user.username }}!</h1></div>

        {% if actorDetails %}
            {% for actor in actorDetails %}
                <ul type="none">
                <font size="4">
                    <li><span>First Name: &nbsp; {{ actor.user.first_name }}</span></li>
                    <li> <span>Surname: &nbsp; {{ actor.user.last_name }}</span></li>
                    <li> <span>E-mail: &nbsp; {{ actor.user.email }} </span></li>
                    <li> <span>Country: &nbsp; {{ actor.country }} </span></li>
                    <li> <span>Date of Birth: &nbsp; {{ actor.dateOfBirth }} </span></li>
                    <li> <span>Weight: &nbsp; {{ actor.weight }} </span></li>
                    <li> <span>Height: &nbsp; {{ actor.height }} </span></li>
                    <li> <span>Hair Colour: &nbsp; {{ actor.hairColour }} </span></li>
                    <li> <span>Eye Colour: &nbsp; {{ actor.eyeColour }} </span></li>
                    <li> <span>Gender: &nbsp; {{ actor.gender }} </span></li>
                    <li> <span>Rating: &nbsp; {{ actor.rating }} </span></li>
                </font>
                </ul>
            {% endfor %}
        {% else %}
            {% for director in directorDetails %}
                <ul type="none">
                <font size="4">
                    <li><span>First Name: &nbsp; {{ director.user.first_name }}</span></li>
                    <li> <span>Surname: &nbsp; {{ director.user.last_name }}</span></li>
                    <li> <span>E-mail: &nbsp; {{ director.user.email }} </span></li>
                    <li> <span>Agency: &nbsp; {{ director.agency }} </span></li>
                    <li> <span>Website: &nbsp; {{ director.website }} </span></li>
                    <li> <span>Phone: &nbsp; {{ director.phone }} </span></li>
                </font>
                </ul>
            {% endfor %}
        {% endif %}

	    </div>
	<!-- </div>
	</div> -->

	
        <div class="col-md-8">

        {% if actorDetails %}

			<div class="left-header" style="text-align: center;"> <!-- PUT CENTER IN A CLASS!!! -->

				<h1> Available Roles </h1>
                                <br>
			<div class="left-reel">

                {% if availableItems %}
                <ul class ="latest">
                    {% for role in availableItems %}
                        <li>
                            <a href="/extras/production/{{ role.purl }}/role/{{ role.url }}">
                                <img src="{{ STATIC_PATH }}/{{ role.picture }}" alt="Role thumbnail" />
                                <span class="title">{{ role.name }}</span>
                                <span class="date">{{ role.production.closingDate }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

			</div>

			</div>

        {% else %}

            <div class="left-header" style="text-align: center;"> <!-- PUT CENTER IN A CLASS!!! -->

				<h1>My Productions </h1>
                <br>
			<div class="left-reel">

                {% if pastCastings %}
                <ul class ="latest">
                    {% for production in pastCastings %}
                        <li>
                            <a href="/extras/production/{{ production.url }}">
                                <img src="{{ STATIC_PATH }}/{{ production.picture }}" alt="Role thumbnail" />
                                <span class="title">{{ production.title}}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

			</div>

			</div>

        {% endif %}
  

	 {% endblock %} 
