{% extends 'extras/template.html' %}

{% block body_block %}
        <h1>View Role</h1>

        {% if role %}
        <h2>Details</h2>

	<div class="col-lg-4">

	    <div class="bs-component">
              	<div class="panel panel-primary">
                	<div class="panel-heading">
                  		<h3 class="panel-title">Name</h3>
                	</div>
                	<div class="panel-body">
                  		{{ role.name }}
                	</div>
            	</div>

            	<div class="panel panel-primary">
                	<div class="panel-heading">
                  		<h3 class="panel-title">Type</h3>
                	</div>
                	<div class="panel-body">
                  		{{ role.roleType }}
                	</div>
            	</div>

           	<div class="panel panel-primary">
                	<div class="panel-heading">
                  		<h3 class="panel-title">Gender</h3>
                	</div>
                	<div class="panel-body">
                  		{{ role.gender }}
                	</div>
            	</div>

		<h2>Production</h2>
			{% if not production_name_url %}
			    <div style="color: red;">The specified production does not exist!</div>
			{% else %}
			   <a href="/extras/production/{{ production_name_url }}">{{production.url}}{{ production.title }}</a>

            </div>

	</div>

	<div class="col-lg-4">

            <div class="bs-component">
              	<div class="panel panel-primary">
                	<div class="panel-heading">
                  		<h3 class="panel-title">Description</h3>
                	</div>
                	<div class="panel-body">
                  		{{ role.description }}
                	</div>
              	</div>

            </div>

        {% endif %}
	<div class="col-lg-4">

            <div class="bs-component">
	{% if actorDetails %}

	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-show="true">
  Apply for Role
	</button>
	</div>
	</div>

	<!-- Modal -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Apply for Role</h4>
	      </div>
	      <div class="modal-body">

              <h2 align="center">Your Details</h2>
              <ul class="profinfo2">
                  {% for actor in actorDetails %}
                    <li><span>First Name:  {{ actor.user.first_name }}</span></li>
                    <li> <span>Surname:  {{ actor.user.last_name }}</span></li>
                    <li> <span>E-mail:  {{ actor.user.email }} </span></li>
                    <li> <span>Country:  {{ actor.country }} </span></li>
                    <li> <span>Date of Birth:  {{ actor.dateOfBirth }} </span></li>
                    <li> <span>Weight:  {{ actor.weight }} </span></li>
                    <li> <span>Height:  {{ actor.height }} </span></li>
                    <li> <span>Hair Colour:  {{ actor.hairColour }} </span></li>
                    <li> <span>Eye Colour:  {{ actor.eyeColour }} </span></li>
                    <li> <span>Gender:  {{ actor.gender }} </span></li>
                    <li> <span>Rating:  {{ actor.rating }} </span></li>
                 {% endfor %}
             </ul>

	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" id="apply-modal">Make Application</button>
	      </div>
	    </div>
	  </div>
	</div>
  </div>

    {% endif %}
	{% endif %}

{% endblock %}
